/* Core styles */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #FAEB8C;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.container {
	width: 1600px;
	margin: 0 auto;
}

.big-title {
	display: inline-block;
	font-size: 102px;
  font-family: "Playfair Display", serif;
	font-weight: 400;
	color: #051473;
}

.subtitle {
	font-size: 40px;
  font-family: "Playfair Display", serif;
	font-weight: 400;
	color: #051473;
}

.small-title {
	font-size: 28px;
	font-weight: 700;
	font-family: "DM Sans", sans-serif;
	color: #051473;
}

.paragraph {
	font-size: 24px;
	font-weight: 400;
	font-family: "DM Sans", sans-serif;
	color: #051473;
}

/* Main section */
.main-section_title {
	display: block;
	width: 912px;
}